<div yw-active-menu="Implementations" yw-active-title="Implementations">

	<div class="row filter">
		<div class="col-sm-4 col-sm-offset-8">
			<input class="form-control input" placeholder="Filter" ng-model="searchKey" />
		</div>
	</div>

	<div class="implementation" ng-repeat="impl in implementations | filter:searchKey">
		<h3>{{impl.name}} <a href="{{impl.github}}" class="btn btn-success" target="_blank"><i class="fa fa-github"></i> See code</a></h3>
		<div>{{impl.description}}</div>

		<ul class="tags">
			<li ng-repeat="tag in impl.tags | orderBy: tag "><i class="fa fa-tag"></i>{{tag}}</li>
		</ul>
	</div>
</div>
