<div yw-active-menu="" yw-active-title="">

	<div class="jumbotron">
		<h1>Todo-deploy</h1>
		<p class='lead'>Browse and compare deployment setups</p>
	</div>

	<h3>Todo what?</h3>

	This project is a collection of provisioning techniques.
	It has been inspired by <a href="todomv.com">TodoMVC</a> and <a href="todobackend.com">todo-backend</a> and borrows the components
	(with slight modifications) from those projects.

	<img src="images/todo-stack.jpg">

	The purpose is to demonstrate differences in provisioning implementation of a full-stack application.

</div>
